<section class="bkg1 full-scrn flex vert cntrd spc-btwn">
    <%= form_with model: @entity, url: group_entities_path(params[:group_id]) do |form| %>
        <nav class="navbar">
            <div class="">
                <%= link_to " ⇦ ", authenticated_root_path, :class => 'back-arrow' %>
            </div>

            <div>
                <h2 class="text-white">ADD NEW TRANSACTION</h2>
            </div>

            <div>
                <%= form.submit "Save", class: "btn btn3" %>
            </div>
        </nav>
    
        <div class="bkg2 flex vert">

        <div>
            <%= form.text_field :name, placeholder:'Name', class:'field1' %>
        </div>
        <hr>
        <div>
            <%= form.number_field :amount, placeholder:'Amount', class:'field1' %>
        </div>
        <hr>
        <div class="field1 flex spc-btwn">
            Select a categorie
            <%= form.select :group_id, options_from_collection_for_select(@groups, :id, :name) %>
        </div>

        </div>
    <% end %>
<section>